OLD_DATABASE_URL="postgresql://postgres.[project-lama]:[password_lama]@[region].pooler.supabase.com:6543/postgres"
NEW_DATABASE_URL="postgresql://postgres.[project-baru]:[password_baru]@[region].pooler.supabase.com:6543/postgres"